[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-environ = "*"
pre-commit = "*"

[packages]
django = "*"
whitenoise = "*"

[requires]
python_version = "3.8"
